#container {
  display: flex;
  max-width: 500px;
  max-height: 500px;
  min-width: 500px;
  min-height: 500px;
  align-content: stretch;
  flex-direction: column;
}
.rows {
  flex: 1;
  display: flex;
  align-content: stretch;

}
.cols {
  flex: 1;
  background: dodgerblue;
  border: 1px solid midnightblue;

}
